doctype html
script document.write(decodeURIComponent('%3Chtml theme='+(window.localStorage.theme||'dark')+'%3E')); // eslint-disable-line

head
  meta(charset='UTF-8')
  link(rel='icon' type='image/svg+xml' href='/vite.svg')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Jamrock &lt;3 Live!
  link(rel='stylesheet' href='/styles.css' inline)
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Sorts+Mill+Goudy')
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/xterm@5.1.0/css/xterm.min.css' inline)
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github.min.css' inline)
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark-dimmed.min.css' scope='html[theme=dark]' inline)
  script(src='https://cdnjs.cloudflare.com/ajax/libs/ace/1.16.0/ace.js' integrity='sha512-Km4SIAd8d2xB73+j5NmOjzIxriadCWR9xapO/YARlvfwkgrWneSpV/6GeaRzVLNckFHzUn9Iv1oGbsDW/HtTZQ==' crossorigin='anonymous' referrerpolicy='no-referrer')

mixin entry(item, selected)
  if item.children
    li: details(open='')
      summary
        icon(src='#folder' size=16)
        span #{item.parent ? item.parent + '/' : ''}#{item.name}/
      ul(data-tree=`${item.parent ? item.parent + '/' : ''}${item.name}`)
        each subTree in item.children
          +entry(subTree, selected)
  else
    li(data-leaf=`${item.parent ? item.parent + '/' : ''}${item.name}`): label
      icon(src='#file' size=16)
      input(type='radio' name='file' checked=item.name === selected value=`${item.parent ? item.parent + '/' : ''}${item.name}`)
      span(data-body=item.contents.toString()) #{item.name}

body
  import(from='sprites.svg')

  main.app
    .flex
      .pad
        input#frame(type='checkbox')
        .frame
          .flex.icons
            label(for='frame')
              svg(width='16' height='16')
                use.off(xlink:href='#icon-left')
                use.on(xlink:href='#icon-right')
            form#navigate.flex.search
              input#urlbar(type='text' value='/' placeholder='/')
              button#reload(type='button')
                icon(src='#sync' size=16)
              button
                icon(src='#play' size=16)
          iframe.preview(src='/loading.html')
      .docs
        != yield
    .flex
      .files
        ul(data-tree='/' data-selected="package.json")
          each subTree in makeTree('/how-to', includes)
            +entry(subTree, 'package.json')
      .editor
        #input
    details.status
      #xterminal
      summary.flex
        icon(src='#stdout' size=16)
        pre.stdout Loading source code...

  script(type='module' src='/sandbox.js')
